<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/loginstyle.css">
</head>

<body>
    <div class="login-page">
        <div class="form">

            <form>

                <input type="email" name="email" placeholder="email" />
                <span id="emailspan"></span>
                <input type="password" name="password" placeholder="password" />
                <span id="passwordspan"></span>
                <button>login</button>
            </form>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script src="auth.js"></script>
<script src="login.js"></script>


</html>