<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">



    <title>Register</title>



    <link rel="stylesheet" href="register.css">





</head>

<body translate="no">
    <form>
        <h2>Sign Up</h2>


        <p>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <span id="emailspan"></span>
        </p>
        <p>
            <label for="password" class="floatLabel">Password</label>
            <input id="password" name="password" type="password">
            <span id='passwordspan'></span>
        </p>
        <p>
            <input type="submit" value="Create My Account" id="submit">
        </p>
    </form>




</body>
<script src="register.js"></script>


</html>